@{
    ViewBag.Title = "Raise my voice";
}

<div class="jumbotron text-center bg-degrade">
    <center>
        <img class="img-responsive" src="~/images/logoRMV.png" alt="logo" width="400" height="130" />
    </center>
    <p style="font-family: 'Caveat Brush', cursive;">Love your city</p>
</div>

<div id="concept" class="container-fluid">
    <div class="row text-center">
        <h2>Concept</h2>
        <center>
            <img class="img-responsive" src="~/images/concept.png" width="800" height="380" />
        </center>
    </div>
    <br />
    <div class="row text-center">
        <div class="col-sm-10 col-sm-offset-1">
            <p>The module Raise My Voice can be installed on every kind of diffusion system (TV screen, projector etc.) and allows the town hall to ask questions to its citizens in a faster and easier way than usual.</p>
            <p>The citizen who passes by the pannel installed by the town hall is attracted by this one, a question from the elected representatives then appears.</p>
            <p>You only have to answer it with a simple gesture in front of the pannel. The pannel saves the answer and transmits it to the town hall.</p>
        </div>
    </div>
    <br /><br />
</div>

<div id="services" class="container-fluid bg-grey text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <div class="glyphicon-ring"><span class="glyphicon glyphicon-user glyphicon-bordered logo-small"></span></div>
            <h4>RAISE</h4>
            <p>Helping decisions of the elected representatives</p>
        </div>
        <div class="col-sm-4">
            <div class="glyphicon-ring"><span class="glyphicon glyphicon-wrench glyphicon-bordered logo-small"></span></div>
            <h4>HIGH-TECH</h4>
            <p>Modernizing surveys methods</p>
        </div>
        <div class="col-sm-4">
            <div class="glyphicon-ring"><span class="glyphicon glyphicon-list-alt glyphicon-bordered logo-small"></span></div>
            <h4>OPINION</h4>
            <p>Easy sampling, sounding out, public opinion</p>
            </div>
    </div>
    <br><br>
    <div class="row slideanim">
        <div class="col-sm-4">  
            <div class="glyphicon-ring"><span class="glyphicon glyphicon-knight glyphicon-bordered logo-small"></span></div>
            <h4>GAMIFICATION</h4>
            <p>Easy and fun to use</p>
        </div>
        <div class="col-sm-4">
            <div class="glyphicon-ring"><span class="glyphicon glyphicon-leaf glyphicon-bordered logo-small"></span></div>
            <h4>ECO-FRIENDLY</h4>
            <p>Low consumption device</p>
        </div>
        <div class="col-sm-4">
            <div class="glyphicon-ring"><span class="glyphicon glyphicon-certificate glyphicon-bordered logo-small"></span></div>
            <h4>SECURE</h4>
            <p>Secure survey with unique participation</p>
        </div>
    </div>
    <br>
</div>

<div id="team" class="container-fluid team-text">
    <h2 class="text-center" style="color :#393939;">TEAM</h2>
    <div class="row text-center">
        <div class="col-sm-4">
            <img class="img-circle" src="~/images/tom.JPG" alt="Tom" width="100" height="100">
            <h4 style="color :#393939;">Tom FERAUD</h4>
            <p style="color :#393939;">Project manager</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="~/images/thomas.JPG" alt="Thomas" width="100" height="100">
            <h4 style="color :#393939;">Thomas HIVERT</h4>
            <p style="color :#393939;">Hardware supervisor</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="~/images/antoine.JPG" alt="Antoine" width="100" height="100">
            <h4 style="color :#393939;">Antoine DEGRANDI</h4>
            <p style="color :#393939;">Communication & development</p>
        </div>
        <div class="row text-center">
            <div class="col-sm-4 col-sm-offset-2">
                <img class="img-circle" src="~/images/romain.JPG" alt="Romain" width="100" height="100">
                <h4 style="color :#393939;">Romain LAURENT</h4>
                <p style="color :#393939;">Software supervisor</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle" src="~/images/chloe.JPG" alt="Romain" width="100" height="100">
                <h4 style="color :#393939;">Chloé ZANOTTI</h4>
                <p style="color :#393939;">Design</p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <p style="color :#393939;">The Raise My Voice team is composed of 5 students in engineering from the school ISEN Toulon, Raise my voice is our technical 4th year project. The idea of participating came to us when we saw the team of participating students from last year. This project is particularly important to us because it is a strong and coherent idea in today's society.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <center>
        <img class="img-responsive text-center" src="~/images/groupe.JPG" alt=""/>
    </center>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey-dark">
    <h2 class="text-center" style="color: #ffffff">CONTACT</h2>
    <div class="row text-center">
        <p style="color: #ffffff"><span class="glyphicon glyphicon-map-marker"></span><br /> Toulon, France</p>
        <p style="color: #ffffff"><span class="glyphicon glyphicon-envelope"></span><br /> raise-my-voice@outlook.com</p>
    </div>
    <br />
    <div class="row slideanim">
        <div class="col-sm-2 col-sm-offset-3 text-center">
            <a href="https://www.facebook.com/Raise-my-voice-997596257013700/">
                <img src="~/images/fbklogo.png" alt="partage" class="logo-contact"/>
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="https://twitter.com/RaiseMyVoice_IC">
                <img src="~/images/twtlogo.png" alt="partage" class="logo-contact"/>
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="https://raisemyvoice-ic.tumblr.com/">
                <img src="~/images/tbrlogo.png" alt="partage" class="logo-contact" />
            </a>
        </div>
    </div>
    <br /><br />
</div>