<footer>
    <div class="container-fluid  text-center">
        <div class="row footer-logo">
            <div class="col-sm-3">
                <img width="180" height="44" alt="sponsor" src="~/images/microsoftlogo.png" />
            </div>
            <div class="col-sm-3">
                <img width="180" height="76" alt="sponsor" src="~/images/iclogo.png" />
            </div>
            <div class="col-sm-3">
                <img width="180" height="49" alt="sponsor" src="~/images/isenlogo.png" />
            </div>
            <div class="col-sm-3">
                <img width="160" height="76" alt="sponsor" src="~/images/ielogo.png" />
            </div>
        </div>
    </div>
    <p class="copyright text-center bg-degrade">&copy; @DateTime.Now.Year - RaiseMyVoice</p>
</footer>

