@using System.Security.Principal
@using Microsoft.AspNetCore.Http

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">
                <img src="~/images/logoNav.png" alt="logo" width="39" height="35"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#concept">Concept</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <li>
                    <a href="#team">Team</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                     {
                         <li>
                             <a asp-controller="Account" asp-action="Index">Users</a>
                         </li>
                     }
                     else
                     {
                         <li>
                             <a asp-controller="Module" asp-action="Index" asp-route-id="@ViewData["UserId"]">Modules</a>
                         </li>
                     }
                    <li>
                        <a asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>